{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<body>
  <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <h1 style="font-size: 72px; color: #007BFF;">Welcome!</h1>
        <p style="color: #333;">Are you ready to start your very own learning adventure?</p>
        <p style="color: #333;">In this short demo you will get the chance to choose some cards and practice learning the letters</p>
        <button class="btn btn-primary" onclick="window.location.href='/intro_flow_1'">Let's Get Started</button>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</body>

{% endblock %}
